*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Inter",sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#ffffff;
color:#0D1B4C;
overflow-x:hidden;
}

/* NAV */

header{
position:absolute;
width:100%;
z-index:10;

position:fixed;

width:100%;

z-index:1000;

background:
rgba(255,255,255,.92);

backdrop-filter:
blur(14px);

border-bottom:
1px solid #E5E7EB;


}

.navbar{

max-width:1400px;

margin:auto;

padding:

28px 60px;

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

display:flex;

align-items:center;

gap:18px;

text-decoration:none;

overflow:hidden;

}

.logo img{

height:72px;

flex-shrink:0;

transition:.4s;

}

.logo span{

color:#081638;

font-size:16px;

font-weight:700;

letter-spacing:1px;

white-space:nowrap;

max-width:0;

opacity:0;

transform:
translateX(-25px);

overflow:hidden;

transition:

max-width .5s,
opacity .4s,
transform .4s;

}

.logo:hover span{

max-width:260px;

opacity:1;

transform:
translateX(0);

}

.logo:hover img{

transform:
scale(1.04);

}
.nav-links{

display:flex;

gap:50px;

list-style:none;

}

.nav-links a{

text-decoration:none;

color:#0D1B4C;

font-size:16px;

font-weight:500;

transition:.3s;

}

.nav-links a:hover{

color:#2454FF;

}

.btn-nav{

background:#2454FF;

color:white;

padding:

14px 28px;

border-radius:14px;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.btn-nav:hover{

transform:translateY(-2px);

}

/* HERO */

.hero{

min-height:100vh;

display:grid;

grid-template-columns:1fr 1fr;

align-items:center;

padding:

140px 8% 60px;

position:relative;

}

.hero-content{

max-width:650px;

}

.tag{

display:inline-block;

background:

rgba(36,84,255,.08);

color:#2454FF;

padding:

12px 18px;

border-radius:999px;

font-size:14px;

font-weight:700;

margin-bottom:24px;

}

.hero h1{

font-size:65px;

line-height:1.05;

margin-bottom:28px;

font-weight:800;

color:#081638;

}

.subtitle{

font-size:20px;

line-height:1.8;

color:#6B7280;

margin-bottom:40px;

}

.hero-buttons{

display:flex;

gap:20px;

}

.btn-primary{

background:#2454FF;

color:white;

padding:18px 34px;

border-radius:16px;

text-decoration:none;

font-weight:700;

cursor:pointer;

transition:.25s;

}

.btn-primary:hover{

transform:
translateY(-4px);

box-shadow:
0 18px 40px
rgba(36,84,255,.20);

}

.btn-secondary{

border:2px solid #2454FF;

color:#2454FF;

padding:18px 34px;

border-radius:16px;

text-decoration:none;

font-weight:700;

transition:.25s;

cursor:pointer;

}

.btn-secondary:hover{

transform:
translateY(-4px);

background:#2454FF;

color:white;

}

.hero-image{

display:flex;

justify-content:flex-end;

}

.hero-image img{

width:100%;

max-width:700px;

height:760px;

object-fit:cover;

border-radius:40px;

box-shadow:

0 40px 100px

rgba(0,0,0,.12);

margin-top:40px;

}

/* DECORACION */

.hero::before{

display:none;

content:"";

position:absolute;

top:-300px;

left:-250px;

width:700px;

height:700px;

background:

rgba(36,84,255,.05);

border-radius:50%;

z-index:-1;

}

.nav-links a.active{

color:#2454FF;

position:relative;

}

.nav-links a.active::after{

content:"";

position:absolute;

bottom:-12px;

left:0;

width:100%;

height:3px;

background:#2454FF;

border-radius:999px;

}

/* PERSONAS */

.people{

padding:120px 8%;

background:#FAFBFF;

}

.people-header{

text-align:center;

max-width:850px;

margin:auto;

}

.section-tag{

color:#2454FF;

font-weight:700;

margin-bottom:18px;

}

.people h2{

font-size:52px;

margin-bottom:24px;

color:#081638;

}

.people-header p:last-child{

font-size:20px;

color:#6B7280;

line-height:1.8;

}

.people-grid{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:30px;

margin-top:70px;

}

.people-card{

background:white;

padding:40px;

border-radius:28px;

box-shadow:

0 20px 60px
rgba(0,0,0,.05);

transition:.3s;

}

.people-card:hover{

transform:
translateY(-10px);

}

.icon{

font-size:42px;

margin-bottom:22px;

}

.people-card h3{

margin-bottom:16px;

font-size:28px;

}

.people-card p{

color:#6B7280;

line-height:1.8;

}

/* PROCESS */

.process{

padding:140px 8%;

}

.process-header{

text-align:center;

max-width:850px;

margin:auto;

}

.process h2{

font-size:52px;

margin:20px 0;

}

.process-header p{

font-size:20px;

color:#6B7280;

}

.process-grid{

margin-top:80px;

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:30px;

}

.step{

background:white;

padding:40px;

border-radius:28px;

border:1px solid #EEF2FF;

transition:.3s;

}

.step:hover{

transform:
translateY(-10px);

box-shadow:

0 20px 60px
rgba(36,84,255,.10);

}

.number{

width:80px;

height:80px;

background:#2454FF;

color:white;

display:flex;

align-items:center;

justify-content:center;

border-radius:50%;

font-size:28px;

font-weight:700;

margin-bottom:28px;

}

.step h3{

font-size:28px;

margin-bottom:18px;

}

.step p{

color:#6B7280;

line-height:1.8;

}

/* SERVICES */

.services{

padding:140px 8%;

background:#FAFBFF;

}

.services-header{

text-align:center;

max-width:900px;

margin:auto;

}

.services h2{

font-size:52px;

margin:20px 0;

}

.services-header p{

font-size:20px;

color:#6B7280;

}

.services-grid{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:28px;

margin-top:80px;

}

.service{

background:white;

padding:50px 35px;

border-radius:32px;

text-align:center;

transition:.3s;

border:1px solid #EEF2FF;

}

.service:hover{

transform:
translateY(-12px);

box-shadow:
0 30px 80px
rgba(0,0,0,.06);

}

.service-icon{

font-size:56px;

margin-bottom:30px;

}

.service h3{

font-size:30px;

margin-bottom:18px;

}

.service p{

color:#6B7280;

line-height:1.8;

}

.disabled{

opacity:.65;

}

/* FEATURED */

.featured{

padding:140px 8%;

}

.featured-header{

text-align:center;

max-width:850px;

margin:auto;

}

.featured h2{

font-size:52px;

margin:20px 0;

}

.featured-header p{

font-size:20px;

color:#6B7280;

}

.properties-grid{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:32px;

margin-top:80px;

}

.property{

background:white;

border-radius:32px;

overflow:hidden;

box-shadow:
0 20px 60px
rgba(0,0,0,.06);

transition:.3s;

}

.property:hover{

transform:
translateY(-10px);

}

.property img{

width:100%;

height:300px;

object-fit:cover;

}

.property-content{

padding:34px;

}

.operation{

background:#2454FF;

color:white;

padding:10px 16px;

border-radius:999px;

font-size:13px;

}

.property h3{

margin-top:26px;

font-size:30px;

}

.property p{

margin:18px 0;

color:#6B7280;

}

.property-btn{

display:inline-block;

color:#2454FF;

font-weight:700;

cursor:pointer;

}

.featured-cta{

text-align:center;

margin-top:70px;

}

.featured-cta a{

text-decoration:none;

font-size:20px;

font-weight:700;

color:#2454FF;

}

/* ABOUT */

.about{

padding:140px 8%;

display:grid;

grid-template-columns:
1fr 1fr;

gap:80px;

align-items:center;

}

.about-image img{

width:100%;

height:700px;

object-fit:cover;

border-radius:36px;

}

.about-content h2{

font-size:56px;

line-height:1.1;

margin:

20px 0 30px;

}

.about-content p{

font-size:18px;

line-height:1.9;

color:#6B7280;

margin-bottom:24px;

}

.about-data{

display:flex;

gap:50px;

margin-top:50px;

}

.about-data h3{

font-size:48px;

color:#2454FF;

}

.about-data span{

color:#6B7280;

}

/* CONTACT */

.contact{

padding:140px 8%;

display:grid;

grid-template-columns:
1fr 1fr;

gap:70px;

align-items:center;

}

.contact h2{

font-size:56px;

margin:20px 0;

}

.contact-left p{

color:#6B7280;

line-height:1.8;

}

.contact-info{

margin-top:50px;

display:flex;

flex-direction:column;

gap:35px;

}

.contact-item{

display:flex;

gap:20px;

}

.contact-item span{

font-size:34px;

}

.contact-item h4{

margin-bottom:8px;

}

.contact-btn{

display:inline-block;

margin-top:50px;

background:#2454FF;

color:white;

padding:20px 34px;

border-radius:18px;

text-decoration:none;

transition:.3s;

}

.contact-btn:hover{

transform:
translateY(-5px);

}

.contact-map iframe{

width:100%;

height:700px;

border:none;

border-radius:32px;

}

/* FOOTER */

footer{

background:#04113D;

padding:120px 8% 50px;

}

.footer-content{

display:flex;

justify-content:space-between;

align-items:flex-start;

margin-bottom:100px;

}

.footer-brand{

max-width:520px;

}

.footer-brand img{

width:340px;

display:block;

margin-bottom:35px;

}


.footer-links{

display:flex;

flex-direction:column;

align-items:flex-start;

min-width:320px;

}

.footer-links a{

color:white;

text-decoration:none;

font-size:20px;

font-weight:400;

padding:

26px 0;

width:100%;

border-bottom:

1px solid
rgba(255,255,255,.12);

transition:.3s;

}

.footer-links a:hover{

padding-left:20px;

color:#2454FF;

}

.footer-bottom{

display:flex;

justify-content:space-between;

align-items:center;

padding-top:50px;

border-top:

1px solid
rgba(255,255,255,.12);

}

.footer-bottom span{

color:

rgba(255,255,255,.85);

font-size:18px;

}

.footer-bottom a{

text-decoration:none;

color:

rgba(255,255,255,.75);

font-size:18px;

transition:.3s;

}

.footer-bottom a span{

color:#2454FF;

}

.footer-bottom a:hover{

opacity:1;

}

.contact-item a{

text-decoration:none;

color:#2454FF;

transition:.3s;

}

.contact-item a:hover{

opacity:.8;

}

.footer-bottom div{

color:

rgba(255,255,255,.75);

}

.footer-bottom div a{

text-decoration:none;

color:#2454FF;

margin-left:8px;

}

.footer-bottom div a:hover{

opacity:.8;

}

/* HERO WORD SLIDER */

.word-slider{

display:inline-block;

height:90px;

overflow:hidden;

vertical-align:bottom;

color:#2454FF;

}

.word-track{

display:flex;

flex-direction:column;

animation:

slideWords

9s

infinite;

}

.word-track span{

display:flex;

align-items:center;

height:110px;

}

@keyframes slideWords{

0%{

transform:
translateY(0);

}

28%{

transform:
translateY(0);

}

33%{

transform:
translateY(-110px);

}

61%{

transform:
translateY(-110px);

}

66%{

transform:
translateY(-220px);

}

94%{

transform:
translateY(-220px);

}

100%{

transform:
translateY(0);

}

}



/* PROPIEDADES */

.properties-hero{

padding:

220px 8%
120px;

text-align:center;

}

.properties-hero h1{

font-size:72px;

margin:30px 0;

}

.properties-hero p{

font-size:22px;

color:#6B7280;

}



.filters{

display:grid;

grid-template-columns:

repeat(4,1fr);

gap:24px;

padding:

0 8%
140px;

}



.filter{

display:flex;

flex-direction:column;

gap:10px;

}



.filter label{

font-weight:700;

}



.filter select{

height:62px;

border:

1px solid #E5E7EB;

border-radius:18px;

padding:

0 20px;

}



.filters button{

height:62px;

background:#2454FF;

color:white;

border:none;

border-radius:18px;

font-size:18px;

cursor:pointer;

transition:.3s;

}



.filters button:hover{

transform:
translateY(-4px);

}


/* GRID */

.properties-grid-page{

padding:

0 8%
140px;

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:34px;

}



.property-card{

background:white;

border-radius:32px;

overflow:hidden;

box-shadow:

0 20px 60px
rgba(0,0,0,.05);

transition:.35s;

}



.property-card:hover{

transform:
translateY(-10px);

}



.property-card img{

width:100%;

height:300px;

object-fit:cover;

}



.property-info{

padding:34px;

}



.property-info span{

background:#2454FF;

color:white;

padding:

10px 18px;

border-radius:999px;

font-size:13px;

}



.property-info h3{

margin:

26px 0 16px;

font-size:28px;

}



.property-info p{

color:#6B7280;

margin-bottom:24px;

}



.property-info a{

color:#2454FF;

font-weight:700;

cursor:pointer;

}



/* CTA */

.cta-properties{

padding:

120px 8%;

text-align:center;

}



.cta-properties h2{

font-size:56px;

margin-bottom:24px;

}



.cta-properties p{

color:#6B7280;

font-size:20px;

margin-bottom:40px;

}



.cta-properties a{

background:#2454FF;

color:white;

padding:

20px 36px;

border-radius:18px;

text-decoration:none;

display:inline-block;

transition:.3s;

}



.cta-properties a:hover{

transform:
translateY(-5px);

}

/* HAMBURGUESA */

/* MENU */

.menu-toggle{

display:none;

flex-direction:column;

gap:6px;

cursor:pointer;

z-index:9999;

}

.menu-toggle span{

width:28px;

height:3px;

background:#081638;

border-radius:999px;

transition:.3s;

}



/* MOBILE */

@media(max-width:1100px){

.menu-toggle{

display:flex;

}



.nav-links{

position:fixed;

top:0;

right:-100%;

width:100%;

height:100vh;

background:white;

display:flex !important;

flex-direction:column;

justify-content:center;

align-items:center;

gap:40px;

transition:.4s;

z-index:999;

}



.nav-links.active{

right:0;

}



.btn-nav{

display:none;

}



/* X */

.menu-toggle.active span:nth-child(1){

transform:

rotate(45deg)

translate(6px,7px);

}

.menu-toggle.active span:nth-child(2){

opacity:0;

}

.menu-toggle.active span:nth-child(3){

transform:

rotate(-45deg)

translate(6px,-7px);

}

}